<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
    <title>Group5</title>
</head>

<body>
    <!-- navbar -->

    <nav>
        <div class="navTop">
            <div class="navItem">
                <a href="./index.html">
                    <span class="navTItle">.<b>group</b>5<i><b>Store</b></i> </span>

                </a>
            </div>
            <div class="navItem">
                <span class="bestOffer">!!Steal the best deals!!</span>
            </div>
            <div class="navItem authCart">
                <div class="auth">
                    <span class="login">Logout</span>
                </div>
                <div class="cart">
                    <a href="./filter.html">

                        <img src="../img/filter.png" alt="" srcset="" class="navCart">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>

    <div class="filterContainer">
        <div class="leftMenu">
            <div class="leftItem">
                <div class="leftItemTop">
                    <div class="imgContainer">

                        <img src="../img/pistol.png" class="imgItem" alt="">
                    </div>
                    <h3>$<span id="itemval">0.00</span></h3>
                </div>
                <div class="leftItemBottom">
                    <div class="productdesc">
                        <h1 class=" product_name">Desert Eagle</h1>
                        <p class="product_desc">If someone is coming toward you. Just go for the kill</p>
                    </div>
                    <div class="quantity">
                        <button class="plus" id="minusButton" onclick="decreaseNum('valueButton', 'itemval')">-</button>
                        <input class="qButton" id="valueButton" type="number" value="0">
                        <button class="plus" id="plusButton" onclick="increaseNum('valueButton', 'itemval')">+</button>
                    </div>
                </div>
            </div>
            <div class="leftItem">
                <div class="leftItemTop">
                    <div class="imgContainer">

                        <img src="../img/pistol.png" class="imgItem" alt="">
                    </div>
                    <h3>$<span id="itemval1">0.00</span></h3>
                </div>
                <div class="leftItemBottom">
                    <div class="productdesc">
                        <h1 class=" product_name">Desert Eagle</h1>
                        <p class="product_desc">If someone is coming toward you. Just go for the kill</p>
                    </div>
                    <div class="quantity">
                        <button class="plus" id="minusButton"
                            onclick="decreaseNum('valueButton1', 'itemval1')">-</button>
                        <input class="qButton" id="valueButton1" type="number" value="0">
                        <button class="plus" id="plusButton"
                            onclick="increaseNum('valueButton1', 'itemval1')">+</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="rightMenu">
            <div class="topRight">
                <h2 class="pname">Total amount </h2>
                <div class="pnameDesc">
                    <p>Product Rate</p>
                    <p>$<span id="product_total_amount">0.00</span></p>
                </div>
                <div class="price_indiv">
                    <p>Shipping Charge</p>
                    <p>$<span id="shipping_charge">20.00</span></p>
                </div>
                <div class="total-amt">
                    <p>Total Amount</p>
                    <p>$<span id="total_cart_amount">0.00</span></p>
                </div>
                <button class="btnBuy">BUY NOW</button>
            </div>
            <div class="bottomRight">
                <div class="card">
                    <a class="discountCode" data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">Add discount
                        code
                    </a>
                    <div class="mt-3">
                        <input type="text" name="" id="discount_code" class="discountForm"
                            placeholder="Enter the discount code">
                        <small>code is <span class="codee" id="codee">archan</span> </small>
                        <p style="font-size: 8px" id="error_here"></p>
                    </div>
                    <button class="btnApply" onclick="applyDiscount()">Apply</button>
                </div>
            </div>

        </div>

        <!-- model inside filter  section  -->

        <div class="checkout">
            <h1 class="checkTitle">Personal Information</h1>
            <label>Full Name</label>
            <input type="text" placeholder="Archan B" class="checkInput">
            <label>Phone Number</label>
            <input type="text" placeholder="+1 234 5678" class="checkInput">
            <label>Address</label>
            <input type="text" placeholder="4565 Pemmican Trial" class="checkInput">
            <h1 class="checkTitle">Card Information</h1>
            <div class="cardIcons">
                <img src="./img/visa.png" width="40" alt="" class="cardIcon">
                <img src="./img/master.png" alt="" width="40" class="cardIcon">
            </div>
            <input type="password" class="checkInput" placeholder="Card Number">
            <div class="cardInfo">
                <input type="text" placeholder="mm" class="checkInput sm">
                <input type="text" placeholder="yyyy" class="checkInput sm">
                <input type="text" placeholder="cvv" class="checkInput sm">
            </div>
            <button class="checkButton">Checkout!</button>
            <span class="closeCheck">X</span>
        </div>
    </div>

    <script src="../script/cart.js"></script>
</body>

</html>