<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Group5</title>
    <link rel="stylesheet" href="../css/register.css" type="text/css" />
</head>

<body>
    <nav>
        <div class="navTop">
            <div class="navItem">
                <a href="../index.html">
                    <span class="navTItle">.<b>group</b>5<i><b>Store</b></i> </span>

                </a>
            </div>
            <div class="navItem">
                <span class="bestOffer">!!Steal the best deals!!</span>
            </div>
            <div class="navItem authCart">
                <div class="navItem authCart">
                    <div class="auth">
                        <a href="../index.html" class="Home">Home</a>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div class="register">
        <h1>Login into your Account</h1>
        <div class="form">

            <ul class="inputForm">
                <div class="oneList">
                    <li><label for="fname">First Name:</label></li>
                    <li><input id="firstname" type="text" name="fname" placeholder="Your Firstname" /></li>
                </div>
                <div class="oneList">
                    <li><label for="lname">Password:</label></li>
                    <li><input id="lastname" type="password" name="fname" /></li>
                </div>

            </ul>
            <div class="button">
                <div><input id="join" class="inputField join" name="submit" value="LOGIN"></div>
                <div><a href="../templates/register.html"><input id="reset" value="Register"></a>
                    <p style="margin-top: 5px; font-size: 12px">New User??</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../script/login.js" type="text/JavaScript"></script>
</body>

</html>